{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="mb-3">
    <form action="" method="GET">
      {% for field in filter.form %}
        {{ field.label }}
        {{ field }}
      {% endfor %}

      <div class="form-group">
        <button class="btn btn-light">Поиск</button>
      </div>
    </form>
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Дата заявки</th>
        <th scope="col">Продукт</th>
        <th scope="col">Телефон клиента</th>
        <th scope="col">Решение</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Изменение</th>
        <th scope="col">Удаление</th>
      </tr>
    </thead>
    <tbody>
      {% for application in object_list %}
        <tr>
          <td>{{ application.date|date:'M d, Y H:i' }}</td>
          <td>{{ application.get_product_display }}</td>
          <td>{{ application.phone }}</td>
          <td>{{ application.get_solution_display }}</td>
          <td>{{ application.comment }}</td>
          <td><a href="{% url 'main:update' application.pk %}">Изменить запись</a></td>
          <td><a href="{% url 'main:delete' application.pk %}">Удалить запись</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="mb-3">
    <form action="" method="GET">
      <select name='order' class="form-select" aria-label="Default select example">
        <option hidden>Сортировать:</option>
        <option value="product" {{ by_product }}>По продукту</option>
        <option value="-date" {{ by_date }}>По самой новой записи</option>
        <option value="solution" {{ by_solution }}>По решению</option>
      </select>

      <div class="form-group">
        <button class="btn btn-light">Принять</button>
      </div>
    </form>
  </div>
{% endblock content %}